{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- StyleSheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="top-bar">
    <div class="center">
        <div class="row">
            <div class="top-left">
                <div class="logo">
                    <a href="{% url "landing-page" %}">
                        <img class="default-img" src="{% static 'images/logo.jpg' %}" alt="logo">
                    </a>
                </div>
            </div>
            <div class="top-right">
                <div class="current-cinema">
                <a href="{% url "current-cinema-repertoire" %}">Poznań Kino</a>                    
                </div>
                <div class="login-register">
                    <div class="login">
                        <a href="{% url "login" %}">Login</a>
                    </div>
                    <div class="register">
                        <a href="{% url "register" %}">Register</a>
                    </div>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Search...">
                </div>
            </div>
        </div>
    </div>
</div>
{% block content %}

{% endblock %}
</body>

</html>